/* Style for Video Area */
#videoArea {
    position: relative;
    width: 100%;
    height: 480px; /* Adjust as needed */
    /* background-color: #666; Placeholder color */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 2px solid black;
}

/* Placeholder text style, remove when actual video is implemented */
/* #videoArea #placeholderText::before {
    content: 'Video Feed Area';
} */

/* Style for Joystick Control */
#joystick {
    position: absolute;
    right: 75px;
    bottom: 75px;
}

/* Responsive Design for smaller screens */
@media screen and (max-width: 600px) {
    #tabs button {
        padding: 10px 12px;
        font-size: 14px;
    }

    #videoArea {
        height: 300px;
    }

    #joystick {
        right: 5px;
        bottom: 5px;
    }
}
